<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Nome</th>
			<th scope="col">Prezzo</th>
		</tr>
	</thead>
	<tbody>
			<tr *ngFor="let product of products;  let i = index">
                <td> {{product.productId}}</td>
				<td> {{product.productName}}</td>
				<td> {{product.productPrice}}</td>
			</tr>   
	</tbody>
</table>
<div class="pagination">
    <!-- Pulsanti delle pagine -->
    <button *ngFor="let page of getPages()" (click)="changePage(page)" [class.active]="page === pageNumber">
        {{ page }}
    </button>
</div>	
