<div class="container pt-5 pb-2">
    <div class="row">
        <div class="col-md-5 image-container h-100">
            <!-- Use Angular binding to dynamically set the image source -->
            <img [src]="productData?.thumbNailPhoto" [alt]="productData?.name" class="img-fluid">
        </div>
        <div class="col-md-7 description-container px-4">
            <div class="d-flex flex-column justify-content-center h-100 py-4">
                <!-- Use Angular binding to dynamically set the product name -->
                <h2 class="mb-3">{{ productData?.name }}</h2>
                <!-- Use Angular binding to dynamically set the product description -->
                <div class="mb-2">
                    <p class="mb-2"><strong>Price: $</strong>{{ productData?.listPrice }}</p>
                    <span class="me-2"><strong>Size:</strong> {{ productData?.size }} </span>
                    <span><strong> Weight:</strong> {{ productData?.weight }} gr.</span>
                </div>
                <div class="details-container my-2">
                    <h3>Product Details</h3>
                    <!-- Use Angular binding to dynamically set the product details -->
                    <p>{{ productData?.productModel?.productModelProductDescriptions[0]?.productDescription?.description || 'Description not available' }}</p>
                    <!-- <div *ngFor="let description of productData?.productModel?.productModelProductDescriptions">
                        <p>{{ description.productDescription?.description || 'Description not available' }}</p>
                    </div> -->
                </div>
                <!-- Quantity Input (you may use a dropdown or other input types based on your design) -->
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <!-- Use Angular binding to dynamically set the initial quantity -->
                    <input type="number" id="quantity" class="form-control mt-2" value="1" min="1">
                </div>
                <div class="mt-4">
                    <button class="btn me-4" id="addToCartBtn">Add to Cart</button>
                    <button class="btn" id="buyNowBtn">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
