main{
    width: 85%;
}

.pressedBtn {
    background-color: var(--accent) !important;
    border: 1.5px solid var(--darker-accent) !important;
}

#v1:hover, #v2:hover, #v3:hover, #v4:hover {
    background-color: var(--core-darker-background);
}

div.header-element {
    background-color: var(--core-background) !important;
    >div.header-container {
        background-color: var(--core-background) !important;
        
        p > span {
            color: var(--primary);
        }

        button {
            background-color: var(--primary);
            border: 1.5px solid var(--darker-primary);
            font-size: 12px !important;
            height: 20px;

            &:after {
                content: none;
            }

            @media (max-width: 2560px) and (min-width: 1070px) {
                font-size: 15px !important;
                height: 25px;
            }
        }

        .dropdown-menu {
            background-color: var(--core-background) !important;
        }
    }
}

div.offcanvas-body {
    .container > button {
        background-color: var(--primary);
        border: 1.5px solid var(--darker-primary);
        font-size: 17px !important;
        margin-bottom: 20px;
    }
}

div.filter-bar{
    width: 15%;
    height: 100%;
    min-height: 560px;

    @media (max-width: 2560px) and (min-width: 1900px) {
        min-height: 827px;
    }

    div:not([class]){
        margin-bottom: 5px;

        p:first-child{
            &:hover { 
                background-color: var(--core-darker-background);
            }

            &:active {
                background-color: var(--section-background);
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
        padding: 8px 12px;
        margin: 0 5px;
        background-color: #556772;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

    button.active {
        background-color: #3498db;
        color: #fff;
        font-weight: bold;
    }
    
    button:hover {
        background-color: #2980b9;
    }
}
