<div class="container my-2 product-card">
    <div class="mycard d-flex flex-row gap-3">
        <img [src]="product.photo" class="img-top img-fluid" alt="Card image cap" width="300px">
        <div class="d-flex flex-column justify-content-center">
            <div class="">
                <h5 class="card-title"> {{product.productName}}</h5>
                <div class="card-text">
                    <b>ID:</b> <span class="text-muted"> {{product.productId}}</span><br>
                    <b>List price:</b> <span class="text-muted"> {{product.productPrice}}€</span><br>
                    <b>Category:</b> <span class="text-muted"> {{product.productCategory}}</span><br>
                </div>
            </div>
        </div>
    </div>
</div>

  