<div class="container my-2 product-card">
    <div class="mycard d-flex flex-row">
        <img [src]="product.photo" class="img-top img-fluid" alt="Card image cap">
        <div class="">
            <div class="">
                <h5 class="card-title">{{product.productName}}</h5>
                <div class="card-text">
                    <b>Color:</b> <span class="text-muted">{{product.productId}}</span><br>
                    <b>List price:</b> <span class="text-muted">€{{product.productPrice}}</span><br>
                </div>
            </div>
        </div>
    </div>
</div>

  